.ant-tabs-content-holder .ant-btn-default:hover,
.register-model .ant-btn-default:hover {
  color: #fff !important;
  border-color: #fff !important;
}
.login-register-button {
  width: 48%;
  margin-right: 4%;
}
.sms-again-button {
  width: 48%;
  padding: 4px 10px;
}
.input-length > input {
  max-width: 80%;
}
